<div class="page-host">
  <div class="pi-section-base pi-shadow-inside pi-padding-bottom-70">
    <div class="pi-texture" style="background: url(./Themes/Aura/img/hexagon.png) repeat;"></div>
    <div class="pi-section">
      <div class="pi-text-center">
        <h1 data-bind="text: title" class="">Vyhľadávanie klientov</h1>
      </div>
      <div class="pi-clearfix">
        <div class="pi-col-sm-3"></div>
        <span class="pi-col-sm-6">
          <section>
            <div data-bind="css: classNaming.groupParentClass, visible: visible" data-handle="input-parent" class="col-sm-12">
              <div data-bind="cssConfig: &#39;css.form.group&#39;" class="form-group">
                <div data-bind="css: classNaming.inputParentClass" class="col-sm-12 col-sm-offset-0">
                  <div class="input-group">
                    <form (submit)="search()">
                      <span class="twitter-typeahead"
                            style="position: relative; display: inline-block; direction: ltr;">
                        <input type="text" class="form-control tt-hint tt-input" tabindex="-1" [(ngModel)]="searchPattern" name="searchPattern"
                               style="position: absolute; top: 0px; left: 0px; border-color: transparent;
                               background-color: white; box-shadow: none; opacity: 1;"
                               placeholder="Zadajte meno/telefón/RČ klienta">
                      </span>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </span>
        <div class="pi-col-sm-3"></div>
      </div>
    </div>
  </div>
</div>
